@model EmployeeList
@{
    ViewBag.Title = "Home";
}
<h1>Welcome!</h1>

<table>
    @foreach (var employee in Model.employees)
    {
        <tr>
            <td>
                @Html.ActionLink(employee.Id.ToString(), "Details", new { id = employee.Id })
            </td>
            <td>@employee.Name</td>
        </tr>

    }

    @*<a asp-action="Details" asp-rout-id="@employee.Id">Details</a>*@
    @*<img src="~/images/noimage.jpg" asp-append-version="true" />*@

    @*<environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>


    <environment exclude="Development">
        <link rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              href="https://sstackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />
    </environment>*@


</table>