@using TagHelpersDemo
@using TagHelpersDemo.Models
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@addTagHelper "*, TagHelpersDemo"



@{
    ViewData["Title"] = "Index";
}

<h2>Progress bar custom tag helper Demo</h2>

<div bs-progress-value="80"></div>


